.hero {
  background-color: black;
  color: white;
  grid-row-start: 1;
  /* padding-block: 100px; */
  block-size: 814px;
}

.hero-content {
  /* border: 10px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
